.row#title
  .eight.columns
    %h1= "Edit #{name}"
.row
  .twelve.columns
    %form(action="/wiki" method="POST")
      %input(type="hidden" name="name" value=name)
      %label(for="text") Page Text
      %textarea(name="text")= text
      %input.button(type="submit")
      %a.button.alert{:href => page_url(name)} Cancel

