- content_for :buttons do
  %section
    %ul.right
      %li
        %a{:href => edit_url(name)} Edit this page

.row#title
  .twelve.columns
    %h1= name
.row
  .twelve.columns
    %div= wikify(text)
